.sections-container {
  display: flex;
  width: 600vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
 
.section {
  width: 200vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  scroll-snap-align: start;
}

.section1 {
  background-color: red;
}

.section2 {
  background-color: blue;
}

.section3 {
  background-color: green;
}

.section1 .title {
  color:white;
  position: relative;
  left: -1000px;

}
/*edit-text*/
.edit-text {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px dashed gray;
}

.edit-input {
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

